@model List<Chef>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs 'N Dishes</title>
</head>
<body>
    <h1>Chefs | <a asp-controller = "Dish" asp-action = "Dishes">Dishes</a> </h1>
    <a asp-controller = "Chef" asp-action = "NewChef">Add a Chef</a>
    <h3>Check out our roster of Chefs!</h3>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Age</td>
                <td># of Dishes</td>
            </tr>
        </thead>
        <tbody>
            @foreach(Chef chef in Model)
            {
            <tr>
                <td>@chef.FirstName @chef.LastName</td>
                <td>@chef.Age()</td>
                <td>@chef.CreatedDishes.Count</td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>