@model Dish

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs 'N Dishes</title>
</head>
<body>
    <h1>Add a Dish!</h1>
    <a asp-controller = "Chef" asp-action = "Index">Home</a>
    <form asp-controller = "Dish" asp-action = "CreateDish" method = "POST">
        <div>
            <label asp-for = "ChefId"></label>
            <div>
                <select asp-for = "ChefId">
                    <option></option>
                    @foreach(Chef chef in ViewBag.everyChef)
                    {
                        <option value = "@chef.ChefId">@chef.FirstName @chef.LastName</option>
                    }
                </select>
                <span asp-validation-for = "ChefId"></span>
            </div>
        </div>
        <div>
            <label asp-for = "Name"></label>
            <div>
                <input asp-for = "Name" />
                <span asp-validation-for = "Name"></span>
            </div>
        </div>
        <div>
            <label asp-for = "Calories"></label>
            <div>
                <input asp-for = "Calories" />
                <span asp-validation-for = "Calories"></span>
            </div>
        </div>
        <div>
            <label asp-for = "Tastiness"></label>
            <div>
                <select asp-for = "Tastiness">
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                </select>
            <span asp-validation-for = "Tastiness"></span>
            </div>
        </div>
        <div>
            <label asp-for = "Description"></label>
            <div>
                <textarea asp-for = "Description"></textarea>
                <span asp-validation-for = "Description"></span>
            </div>
        </div>
        <button>Add Dish</button>
    </form>
</body>
</html>
